

<div id="layoutSidenav">
    <div id="layoutSidenav_nav">
        <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
            <div class="sb-sidenav-menu">
                <div class="nav">
                    <div class="sb-sidenav-menu-heading">BENKEIN YÖNETİM PANELİ</div>
                    <a class="nav-link" asp-controller="User" asp-action="Index">
                        <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                        Kullanıcılar
                    </a>
                    <a class="nav-link" asp-controller="Slider" asp-action="Index">
                        <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                        Slider Yönetimi
                    </a>
                    <a class="nav-link" asp-controller="Categorys" asp-action="Index">
                        <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                        Kategori Yönetimi
                    </a>
                    <a class="nav-link" asp-controller="Brands" asp-action="Index">
                        <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                        Marka Yönetimi
                    </a>
                    <a class="nav-link" asp-controller="Products" asp-action="Index">
                        <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                        Ürün Yönetimi
                    </a>
                    <a class="nav-link" asp-controller="Contacts" asp-action="Index">
                        <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                        İletişim Yönetimi
                    </a>
                    <a class="nav-link" asp-controller="Pages" asp-action="Index">
                        <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                        TEST
                    </a>

                    <a class="nav-link" asp-controller="Patients" asp-action="Index">
                        <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                        TEST
                    </a>
                    <a class="nav-link" asp-controller="PostComments" asp-action="Index">
                        <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                        TEST
                    </a>

                    <a class="nav-link" asp-controller="Posts" asp-action="Index">
                        <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                        TEST
                    </a>
                    <a class="nav-link" asp-controller="Roles" asp-action="Index">
                        <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                        TEST
                    </a>
                    <a class="nav-link" asp-controller="Settings" asp-action="Index">
                        <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                        TEST
                    </a>
                    <a class="nav-link" asp-controller="Users" asp-action="Index">
                        <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                        Users
                    </a>


                </div>
                <div class="sb-sidenav-footer">
                    <div class="small">Giriş Yapan:Yönetici/Admin</div>
                 


        </nav>
    </div>
