@using BenkienApp.Data.Entity
@using BenkienApp.Service.Abstract;
@inject IService<Setting> _serviceSetting;



@{
    var settings = await _serviceSetting.GetAllAsync();
    var setting = settings.FirstOrDefault();


}



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BenkienApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/BenkienApp.styles.css" asp-append-version="true" />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8sh+WyIx7a8UDHlfOCqG5QdQT6ukROel5Z9Kx2" crossorigin="anonymous">

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" style="background-color:#202844; padding: 5px 1rem;" asp-area="" asp-controller="Home" asp-action="Index">
                    @if (setting is not null)
                    {
                        <img src="/img/@setting.Logo" height="50" />
                    }
                    else ///ADMIN AREASI KURUCAM ONDAN ÖNCE API İLE BAĞLAMAM LAZIM
                    {
                        @:Logo
                    }

                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-center">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Home" asp-action="Index">Anasayfa</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Product" asp-action="Index">Tüm Ürünlerimiz</a>
                        </li>
                        @await Component.InvokeAsync("Categories")

                    </ul>

                </div>
                <form asp-controller="Products" asp-action="Search" method="get" class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
                    <input type="search" name="q" class="form-control form-control-dark text-bg-dark" placeholder="Ara..." aria-label="Search">
                </form>
                <div class="text-end">

                    <style>
                        .user-button {
                            position: relative;
                            display: inline-block;
                            background-color: #007bff;
                            color: #fff;
                            border: none;
                            padding: 10px;
                            border-radius: 5px;
                            cursor: pointer;
                        }

                        .user-menu {
                            position: absolute;
                            top: 100%;
                            left: 0;
                            background-color: #f9f9f9;
                            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
                            border-radius: 5px;
                            display: none;
                            padding: 10px;
                            z-index: 1;
                        }

                            .user-menu a {
                                display: block;
                                padding: 8px;
                                color: #333;
                                text-decoration: none;
                                transition: background-color 0.3s;
                            }

                                .user-menu a:hover {
                                    background-color: #ddd;
                                }
                    </style>

                    @if (Context.Session.GetInt32("userId") == null)
                    {
                        <a asp-controller="Account" asp-action="Login" type="button" class="btn btn-outline-primary me-2">Giriş</a>
                        <a asp-controller="Account" asp-action="SignIn" type="button" class="btn btn-primary">Kayıt Ol</a>
                    }
                    else
                    {
                        var userName = Context.Session.GetString("userName");

                        <div class="user-button">
                            Hoş Geldin
                            @(userName.Length > 0 ? userName.Substring(0, 1).ToUpper() + userName.Substring(1) : "")
                            <div class="user-menu">
                                <a asp-controller="Account" asp-action="Index">Hesabım</a>
                                <a asp-controller="Account" asp-action="Logout">Çıkış Yap</a>
                            </div>
                        </div>

                        <script>
                            document.querySelector('.user-button').addEventListener('mouseenter', function () {
                                document.querySelector('.user-menu').style.display = 'block';
                            });

                            document.querySelector('.user-button').addEventListener('mouseleave', function () {
                                document.querySelector('.user-menu').style.display = 'none';
                            });
                        </script>
                    }


                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - BENKIEN - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>

            <a asp-area="" asp-controller="Home" asp-action="Privacy">Gizlilik</a>


            <a asp-area="" asp-controller="Home" asp-action="ContactUs">İletişim</a>

        </div>
    </footer>

    <!-- Bootstrap JS ve Popper.js -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8sh+WyIx7a8UDHlfOCqG5QdQT6ukROel5Z9Kx2" crossorigin="anonymous"></script>



    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
